<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <title>進捗報告一覧</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
  <h1>進捗報告一覧</h1>
  
  <p><span sec:authentication="principal.staff.name">duke</span>&nbsp;さん、お疲れ様です。</p>
  
  <form class="form-signin" th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト" /></form>
  <form class="form-signin" th:action="@{/setting}" method="post">
    <input type="submit" class="btn btn-default btn-xs" value="パスワード更新" />
  </form>
  <form class="form-signin" th:action="@{/manage/notification}" method="post">
    <input type="submit" class="btn btn-default btn-xs" value="お知らせ追加" />
  </form>
  
  <hr/>
  <p>お知らせ一覧</p>
  <div class="col-sm-12">
    <span th:if="${#lists.isEmpty(notificatations)}">お知らせは登録されていません。</span>
    <table class="table table-striped table-bordered table-condensed" th:unless="${#lists.isEmpty(notifications)}">
      <tr>
        <th>タイトル</th>
        <th>作成日時</th>
<!--         <th>状態</th> -->
        <th>作成した人</th>
        <th>参照</th>
      </tr>
      <tr th:each="noti : ${notifications}">
        <td th:text="${noti.title}">タイトル</td>
        <td th:text="${noti.createdWhen}">作成日時</td>
<!-- 
        <td>
          <div th:text="${noti.status} ? '無効' : '有効'"></div>
        </td>
 -->
        <td th:text="${noti.name} + ' さん'">作成した人</td>
        <td>
          <form th:action="@{/manage/notification}" method="post">
            <input class="btn btn-default btn-sm" type="submit" name="notify" value="参照"/>
            <input type="hidden" name="notificationId" th:value="${noti.notificationId}" />
          </form>
        </td>
      </tr>
    </table>
  </div>

  <hr/>
  <p>報告状況一覧</p>
  <div class="col-sm-12">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>報告した人</th>
        <th>最新報告日時</th>
        <th>最新コメント日時</th>
        <th>最新コメントした人</th>
        <th>参照</th>
      </tr>
      <tr th:each="status : ${reportStatus}">
        <td th:text="${status.name} + ' さん'">報告した人</td>
        <td th:text="${status.lastReported}">最新報告日時</td>
        <td th:text="${status.lastCommented}">最新コメント日時</td>
        <td><div th:if="${status.lastCommentedBy}">
          <div th:text="${status.lastCommentedBy} + ' さん'"></div>
          </div>
        </td>
        <td>
          <form th:action="@{/manage/history}" method="post">
            <input class="btn btn-default btn-sm" type="submit" name="form" value="参照"/>
            <input type="hidden" name="staffId" th:value="${status.staffId}" />
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"  th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
</html>